@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#slideshowu1031
{
	z-index: 2;
	width: 0.01px;
	height: 683px;
}

#u1069popup
{
	z-index: 3;
}

#u1072
{
	z-index: 4;
	width: 380px;
	height: 683px;
	margin-right: -10000px;
}

#u1076
{
	z-index: 6;
	width: 380px;
	height: 683px;
	margin-right: -10000px;
}

#u1070
{
	z-index: 8;
	width: 380px;
	height: 683px;
	margin-right: -10000px;
}

#u1074
{
	z-index: 10;
	width: 380px;
	height: 683px;
	margin-right: -10000px;
}

#u1069,#u1072_clip,#u1076_clip,#u1070_clip,#u1074_clip
{
	width: 380px;
	height: 683px;
}

#u1072_img,#u1076_img,#u1070_img,#u1074_img
{
	margin-left: -322px;
	margin-right: -322px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background-image: url("../../images/loading.gif");
}

#u1399
{
	z-index: 58;
	width: 87px;
	margin-left: 146px;
	top: -671px;
	margin-bottom: -75px;
}

#menuu1331
{
	z-index: 12;
	width: 380px;
	top: -584px;
	margin-bottom: -34px;
}

#u1332
{
	width: 100%;
	min-height: 34px;
	margin-right: -10000px;
}

#u1333
{
	width: 100%;
	padding-bottom: 12px;
}

#u1333:hover
{
	margin: 0px;
}

#u1333:active
{
	margin: 0px;
}

#u1333.MuseMenuActive
{
	margin: 0px;
}

#u1336-4
{
	width: 366px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u1333:hover #u1336-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1333:active #u1336-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1333.MuseMenuActive #u1336-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1334
{
	z-index: 19;
	width: 14px;
	height: 14px;
	background-image: url("../../images/arrowmenudown.gif");
	margin-right: -10000px;
	top: 10px;
	left: 366px;
}

#u1333:hover #u1334
{
	margin: 0px -10000px 0px 0px;
}

#u1333:active #u1334
{
	margin: 0px -10000px 0px 0px;
}

#u1333.MuseMenuActive #u1334
{
	margin: 0px -10000px 0px 0px;
}

#u1337
{
	width: 380px;
	top: 34px;
}

#u1403
{
	width: 378px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u1403:hover
{
	width: 378px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1342
{
	width: 378px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u1403.MuseMenuActive,#u1342:hover
{
	width: 378px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1370
{
	width: 378px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u1342.MuseMenuActive,#u1370:hover
{
	width: 378px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1361
{
	width: 378px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u1370.MuseMenuActive,#u1361:hover
{
	width: 378px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1347
{
	width: 378px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u1361.MuseMenuActive,#u1347:hover
{
	width: 378px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

@viewport,#u1338,#u1402,#u1339,#u1367,#u1360,#u1346,#u1353
{
	width: 380px;
}

#u1354
{
	width: 378px;
	padding-bottom: 14px;
	margin-right: -10000px;
}

#u1347.MuseMenuActive,#u1354:hover
{
	width: 378px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1354.MuseMenuActive
{
	width: 378px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1404-4,#u1343-4,#u1371-4,#u1364-4,#u1349-4,#u1356-4
{
	width: 370px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u1410
{
	z-index: 60;
	width: 284px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: 31px;
	top: -513px;
	margin-bottom: -431px;
	position: relative;
	padding: 19px 17px 8px;
}

#u1411
{
	z-index: 65;
	width: 284px;
	position: relative;
}

#u1411_clip
{
	overflow: hidden;
	width: 284px;
	height: 140px;
}

#u1411_img
{
	margin: -42px -26px -262px -25px;
}

#u1409-4
{
	z-index: 61;
	width: 284px;
	color: #333333;
	text-align: justify;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 13px;
	position: relative;
}

#pu1413
{
	width: 0.01px;
	margin-left: 48px;
	top: -498px;
	margin-bottom: -140px;
	position: relative;
}

#u1413
{
	z-index: 67;
	width: 20px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #0B2568;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
}

#u1414
{
	z-index: 68;
	width: 20px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #0B2568;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 264px;
}

#page .verticalspacer
{
	clear: both;
}

