html
{
	background-color: #C3C3C3;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu74
{
	z-index: 2;
	width: 0.01px;
	height: 683px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u116
{
	position: absolute;
	width: 1024px;
	height: 683px;
	background-color: transparent;
}

#u116popup
{
	z-index: 3;
}

#u176
{
	z-index: 4;
	width: 1024px;
	height: 683px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u185
{
	z-index: 6;
	width: 1024px;
	height: 683px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u194
{
	z-index: 8;
	width: 1024px;
	height: 683px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u203
{
	z-index: 10;
	width: 1024px;
	height: 683px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu226
{
	z-index: 14;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 239px;
}

#u226
{
	z-index: 0;
	width: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #7788B5;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu241-4
{
	width: 0.01px;
	position: relative;
	left: 40px;
	padding-top: 254px;
	z-index: 2;
	padding-bottom: 244px;
}

#u241-4
{
	z-index: 29;
	position: relative;
	width: 31px;
	margin-right: -10000px;
}

#pu216
{
	z-index: 12;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u216
{
	z-index: 0;
	width: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu240-4
{
	width: 0.01px;
	position: relative;
	left: 52px;
	padding-top: 317px;
	z-index: 2;
	padding-bottom: 305px;
}

#u240-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	width: 23px;
	margin-right: -10000px;
}

#pu225
{
	z-index: 13;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 120px;
}

#u225
{
	z-index: 0;
	width: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #B4BDD6;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu237-4
{
	width: 0.01px;
	position: relative;
	left: 47px;
	padding-top: 293px;
	z-index: 2;
	padding-bottom: 280px;
}

#u237-4
{
	z-index: 21;
	position: relative;
	width: 23px;
	margin-right: -10000px;
}

#pu228
{
	z-index: 16;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 785px;
}

#u228
{
	z-index: 0;
	width: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #B4BDD6;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu243-4
{
	width: 0.01px;
	position: relative;
	left: 59px;
	padding-top: 306px;
	z-index: 2;
	padding-bottom: 293px;
}

#u243-4
{
	z-index: 37;
	position: relative;
	width: 24px;
	margin-right: -10000px;
}

#pu227
{
	z-index: 15;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 905px;
}

#u227
{
	z-index: 0;
	width: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u216:hover,#u227:hover
{
	background-color: #7585B1;
	margin: 0px;
}

#pu244-4
{
	width: 0.01px;
	position: relative;
	left: 64px;
	padding-top: 269px;
	z-index: 2;
	padding-bottom: 259px;
}

#u244-4
{
	z-index: 41;
	position: relative;
	width: 25px;
	margin-right: -10000px;
}

#pu229
{
	z-index: 17;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 666px;
}

#u229
{
	z-index: 0;
	width: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #7788B5;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u226:hover,#u225:hover,#u228:hover,#u229:hover
{
	background-color: #3D5492;
	margin: 0px;
}

#pu242-4
{
	width: 0.01px;
	position: relative;
	left: 50px;
	padding-top: 286px;
	z-index: 2;
	padding-bottom: 275px;
}

#u242-4
{
	z-index: 33;
	position: relative;
	width: 24px;
	margin-right: -10000px;
}

#u241-4_img,#u237-4_img,#u243-4_img,#u244-4_img,#u242-4_img
{
	display: block;
	vertical-align: top;
}

#pu230
{
	z-index: 18;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 358px;
}

#u230
{
	z-index: 0;
	width: 308px;
	border-style: none;
	border-color: transparent;
	background-color: #0B2568;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu231
{
	width: 0.01px;
	position: relative;
	left: 54px;
	padding-top: 253px;
	z-index: 2;
	padding-bottom: 252px;
}

#u231
{
	z-index: 19;
	width: 202px;
	position: relative;
	margin-right: -10000px;
}

#u245-3
{
	z-index: 45;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 404px;
	left: 998px;
}

#page .verticalspacer
{
	clear: both;
}

