html
{
	background-color: #C3C3C3;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	margin-left: auto;
	margin-right: auto;
}

#pu373
{
	z-index: 15;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 905px;
}

#u373
{
	z-index: 0;
	width: 120px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u373:hover
{
	margin: 0px;
}

#pu384-4
{
	width: 0.01px;
	position: relative;
	left: 9px;
	padding-top: 35px;
	z-index: 2;
	padding-bottom: 19px;
}

#u384-4
{
	z-index: 41;
	width: 93px;
	margin-right: -10000px;
}

#pu375
{
	z-index: 17;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 666px;
}

#u375
{
	z-index: 0;
	width: 120px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u373.MuseLinkActive,#u375:hover
{
	margin: 0px;
}

#pu382-4
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 34px;
	z-index: 2;
	padding-bottom: 19px;
}

#u382-4
{
	z-index: 33;
	width: 75px;
	margin-right: -10000px;
}

#pu374
{
	z-index: 16;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 785px;
}

#u374
{
	z-index: 0;
	width: 120px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u375.MuseLinkActive,#u374:hover
{
	margin: 0px;
}

#pu383-4
{
	width: 0.01px;
	position: relative;
	left: 29px;
	padding-top: 34px;
	z-index: 2;
	padding-bottom: 19px;
}

#u383-4
{
	z-index: 37;
	width: 51px;
	margin-right: -10000px;
}

#pu370
{
	z-index: 12;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u370
{
	z-index: 0;
	width: 120px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u374.MuseLinkActive,#u370:hover
{
	margin: 0px;
}

#pu380-4
{
	width: 0.01px;
	position: relative;
	left: 35px;
	padding-top: 35px;
	z-index: 2;
	padding-bottom: 19px;
}

#u380-4
{
	z-index: 25;
	width: 39px;
	margin-right: -10000px;
}

#slideshowu322
{
	z-index: 2;
	width: 0.01px;
	height: 683px;
	margin-right: -10000px;
}

#u325popup
{
	z-index: 3;
}

#u325
{
	width: 1024px;
	height: 683px;
}

#u330
{
	z-index: 4;
	width: 1024px;
	height: 683px;
	margin-right: -10000px;
}

#u332
{
	z-index: 6;
	width: 1024px;
	height: 683px;
	margin-right: -10000px;
}

#u328
{
	z-index: 8;
	width: 1024px;
	height: 683px;
	margin-right: -10000px;
}

#u326
{
	z-index: 10;
	width: 1024px;
	height: 683px;
	margin-right: -10000px;
}

#pu372
{
	z-index: 14;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u372
{
	z-index: 0;
	width: 120px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u370.MuseLinkActive,#u372:hover
{
	margin: 0px;
}

#pu381-4
{
	width: 0.01px;
	position: relative;
	left: 25px;
	padding-top: 14px;
	z-index: 2;
	padding-bottom: 19px;
}

#u381-4
{
	z-index: 29;
	width: 59px;
	margin-right: -10000px;
}

#pu371
{
	z-index: 13;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u371
{
	z-index: 0;
	width: 120px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u372.MuseLinkActive,#u371:hover
{
	margin: 0px;
}

#u371.MuseLinkActive
{
	margin: 0px;
}

#pu379-4
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 35px;
	z-index: 2;
	padding-bottom: 19px;
}

#u379-4
{
	z-index: 21;
	width: 67px;
	margin-right: -10000px;
}

#ppu376
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#pu376
{
	width: 0.01px;
	margin-left: 358px;
	position: relative;
}

#u376
{
	z-index: 18;
	width: 308px;
	height: 67px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u377
{
	z-index: 19;
	width: 100px;
	margin-right: -10000px;
	left: 105px;
}

#pu385-3
{
	width: 0.01px;
	margin-top: 67px;
	position: relative;
}

#u385-3
{
	z-index: 45;
	width: 5px;
	margin-right: -10000px;
	margin-top: 251px;
	left: 998px;
}

#u811
{
	z-index: 48;
	width: 1024px;
	height: 444px;
	margin-right: -10000px;
}

#U816_animation
{
	width: 1024px;
	height: 444px;
}

#u849-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 483px;
}

#u850-13
{
	z-index: 53;
	width: 375px;
	min-height: 278px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 486px;
}

#u850-2,#u850-8
{
	font-size: 18px;
	text-align: right;
	color: #0071BC;
}

#u850-3,#u850-5,#u850-6,#u850-9,#u850-11
{
	text-align: justify;
	color: #333333;
}

#u856
{
	z-index: 66;
	width: 259px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 153px;
}

#u861
{
	z-index: 68;
	width: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 153px;
}

#u866
{
	z-index: 70;
	width: 129px;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 283px;
}

#pu939
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 153px;
}

#u939
{
	z-index: 73;
	width: 20px;
	height: 237px;
	border-style: none;
	border-color: transparent;
	background-color: #0B2568;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u940
{
	z-index: 74;
	width: 10px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: #0B2568;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin-top: 21px;
	position: relative;
}

#u941
{
	z-index: 75;
	width: 10px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: #0B2568;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 249px;
}

#u942
{
	z-index: 76;
	width: 10px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: #0B2568;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 433px;
	left: 283px;
}

#pu938
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 392px;
}

#u938
{
	z-index: 72;
	width: 20px;
	height: 237px;
	border-style: none;
	border-color: transparent;
	background-color: #0B2568;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u943
{
	z-index: 77;
	width: 10px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: #0B2568;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin-left: 10px;
	margin-top: 21px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -175px;
}

