#u375
{
	border-style: none;
	border-color: transparent;
	background-color: #7788B5;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u375:hover
{
	background-color: #3D5492;
}

#u375.MuseLinkActive
{
	background-color: #7788B5;
}

#u372
{
	border-style: none;
	border-color: transparent;
	background-color: #7788B5;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u372:hover
{
	background-color: #3D5492;
}

#u372.MuseLinkActive
{
	background-color: #27438C;
}

#u371
{
	border-style: none;
	border-color: transparent;
	background-color: #B4BDD6;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u371:hover
{
	background-color: #3D5492;
}

#u370
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u370:hover
{
	background-color: #7585B1;
}

#u374
{
	border-style: none;
	border-color: transparent;
	background-color: #B4BDD6;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u374:hover
{
	background-color: #3D5492;
}

#u371.MuseLinkActive,#u374.MuseLinkActive
{
	background-color: #B4BDD6;
}

#u325
{
	position: absolute;
	background-color: transparent;
}

#u330,#u332,#u328,#u326
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background-position: center center;
	background-repeat: no-repeat;
}

#u373
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u373:hover
{
	background-color: #7585B1;
}

#u370.MuseLinkActive,#u373.MuseLinkActive
{
	background-color: #FFFFFF;
}

#u382-4_img,#u381-4_img,#u379-4_img,#u380-4_img,#u383-4_img,#u384-4_img
{
	display: block;
	vertical-align: top;
}

#u376
{
	border-style: none;
	border-color: transparent;
	background-color: #0B2568;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u382-4,#u381-4,#u379-4,#u380-4,#u383-4,#slideshowu322,#u384-4,#u377,#u385-3
{
	position: relative;
}

#u811
{
	background-color: transparent;
	position: relative;
}

#U816_animation
{
	border: none;
}

