#u1069
{
	position: absolute;
	background-color: transparent;
}

#u1072,#u1076,#u1070,#u1074
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1072_clip,#u1076_clip,#u1070_clip,#u1074_clip
{
	overflow: hidden;
}

#u1333
{
	background-color: #FFFFFF;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: relative;
}

#u1333:hover
{
	background-color: #999999;
}

#u1333:active
{
	background-color: #6B6B6B;
}

#u1333.MuseMenuActive
{
	background-color: #999999;
}

#u1336-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
}

#u1333.MuseMenuActive #u1336-4
{
	border-style: none;
	border-color: transparent;
}

#u1334
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: relative;
}

.SSSlideLoading,#u1333:hover #u1334 /* slideshowFreeStyle */
{
	background-position: center center;
	background-repeat: no-repeat;
}

#u1333:active #u1334
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u1333.MuseMenuActive #u1334
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u1403
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7788B5;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: relative;
}

#u1403:hover
{
	background-color: #AAAAAA;
}

#u1404-4
{
	font-size: 18px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
}

#u1342
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7788B5;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: relative;
}

#u1342:hover
{
	background-color: #AAAAAA;
}

#u1370
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7788B5;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: relative;
}

#u1370:hover
{
	background-color: #AAAAAA;
}

#u1361
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7788B5;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: relative;
}

#u1361:hover
{
	background-color: #AAAAAA;
}

#u1347
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7788B5;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: relative;
}

#u1347:hover
{
	background-color: #AAAAAA;
}

#slideshowu1031,#u1399,#menuu1331,#u1332,#u1338,#u1402,#u1339,#u1367,#u1360,#u1346,#u1353
{
	position: relative;
}

#u1354
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7788B5;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: relative;
}

#u1354:hover
{
	background-color: #AAAAAA;
}

#u1403.MuseMenuActive,#u1342.MuseMenuActive,#u1370.MuseMenuActive,#u1361.MuseMenuActive,#u1347.MuseMenuActive,#u1354.MuseMenuActive
{
	background-color: #666666;
}

#u1343-4,#u1371-4,#u1364-4,#u1349-4,#u1356-4
{
	font-size: 18px;
	text-align: center;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

